type account =
| None
| Instagram string
| Facebook string int;

let myAccount = Facebook "Josh" 26;
let friendAccount = Instagram "Jenny";

let greeting = switch (myAccount) {
| None => "Hi!"
| Facebook name age =>
  "Hi " ^ name ^ ", you're " ^ (string_of_int age) ^ "-year-old."
| Instagram name => "Hello " ^ name ^ "!"
}


// easter eggs!!!!